<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <novapost>
                <active>0</active>
                <title>NOVA POST</title>
                <model>Novapost\Shipping\Model\Carrier\NovapostWarehouse</model>
            </novapost>
        </carriers>
    </default>
</config>
